Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, black, flake8, mypy, doc8

Path conditions:
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$

Update doc for Chrome DevTools launched with -vv
  docs/jobs.rst
Due: doc8

Fixed ignore_http_error_codes not being applied to TransientHTTPErrors
  CHANGELOG.rst
  tests/test_jobs.py
  webchanges/jobs.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Replaced mypy with ty for type checking
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.rst
  pyproject.toml
  tests/data/hooks_example.py
  tests/requirements_pre-commit.txt
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_handler.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  tests/test_util.py
  webchanges/_vendored/headers.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/util.py
Due: flynt, black, flake8, mypy, doc8

Changes to ai_google and command differs
  CHANGELOG.rst
  docs/differs.rst
  pyproject.toml
  webchanges/differs.py
Due: flynt, black, flake8, mypy, doc8

fix/use_browser
  CHANGELOG.rst
  docs/hooks.rst
  docs/jobs.rst
  webchanges/command.py
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8

#141 Problem parsing Playwright exceptions in BrowserJob class retrieve method
  CHANGELOG.rst
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8

#140 jq does not support command line arguments
  docs/filters.rst
Due: doc8

#139 Enable normal (vs bright) colors for stdout
  docs/configuration.rst
  docs/reporters.rst
  webchanges/reporters.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

Bump versions
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
Due: none

Version 3.33.0rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/hooks.rst
  pyproject.toml
  tests/test_util.py
  webchanges/__init__.py
  webchanges/reporters.py
Due: flynt, black, flake8, mypy, doc8

Version 3.33.0rc0
  docs/differs.rst
  docs/hooks.rst
  docs/upgrading.rst
  tests/data/docs_hooks_jobs.yaml
  tests/data/filters_testdata.yaml
  tests/data/jobs-is_shell_job.yaml
  tests/test_util.py
Due: flynt, black, flake8, mypy, doc8

Version 3.33.0rc0
  tests/test_filters.py
Due: flynt, black, flake8, mypy

Replace build engine with uv
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
  pyproject.toml
Due: doc8

Version 3.33.0
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  CHANGELOG.rst
  get_parser.py
  pyproject.toml
  webchanges/__init__.py
  webchanges/config.py
Due: flynt, black, flake8, mypy, doc8

Internal: Improve ci-cd after last run
  .github/workflows/ci-cd.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore/ruff updates side effects
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

Fix/Improved ``wdiff`` filter, including correct handling of ``html`` text.
  CHANGELOG.rst
  tests/test_differs.py
  webchanges/differs.py
Due: flynt, black, flake8, mypy, doc8

ci/cd upgrades
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
Due: none

New ntfy reporter
  CHANGELOG.rst
  docs/reporters.rst
  tests/data/config.yaml
  tests/test_handler.py
  tests/test_reporters.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/reporters.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

Closing all databases, keep-alive connections, and underlying SSL sockets before exit.
  CHANGELOG.rst
  webchanges/command.py
  webchanges/differs.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/util.py
Due: flynt, black, flake8, mypy, doc8

New GitHub Issue reporter
  CHANGELOG.rst
  README.rst
  docs/reporters.rst
  tests/data/config.yaml
  webchanges/jobs.py
  webchanges/reporters.py
Due: flynt, black, flake8, mypy, doc8

Add suppress_error_ended and suppress_errors sub-directives to Jobs
  CHANGELOG.rst
  docs/jobs.rst
  webchanges/handler.py
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8

Version 3.34.0rc0 Release prep
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/configuration.rst
  docs/differs.rst
  docs/hooks.rst
  docs/html_reports.html
  docs/reporters.rst
  tests/data/config.yaml
  tests/requirements_pre-commit.txt
  tests/test_command.py
  tests/test_handler.py
  tox.ini
  webchanges/__init__.py
  webchanges/command.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/util.py
Due: flynt, black, flake8, mypy, doc8

Version 3.34.0rc0
  .github/workflows/ci-cd.yaml
  webchanges/storage.py
Due: flynt, black, flake8, mypy

Version 3.34.0rc0
  tests/test_command.py
Due: flynt, black, flake8, mypy

ci-cd improvements
  .github/workflows/ci-cd.yaml
  webchanges/reporters.py
Due: flynt, black, flake8, mypy

ci-ci fix
  .github/workflows/ci-cd.yaml
Due: none

ci-cd
  .github/workflows/ci-cd.yaml
Due: none

revert ci-cd
  .github/workflows/ci-cd.yaml
Due: none

revert order
  .github/workflows/ci-cd.yaml
Due: none

Version 3.34.0
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.34.2
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

fix --prepare-jobs
  .github/workflows/scorecard.yml
  CHANGELOG.rst
  docs/filters.rst
  tests/test_command.py
  tests/test_storage.py
  webchanges/_vendored/headers.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/filters/_html.py
  webchanges/reporters/_base.py
Due: flynt, black, flake8, mypy, doc8

Version 3.35.0rc0
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  CHANGELOG.rst
  RELEASE.rst
  docs/dependencies.rst
  docs/examples.rst
  docs/filters.rst
  docs/jobs.rst
  pyproject.toml
  schemas/config.schema.json
  schemas/jobs.schema.json
  tests/requirements_pytest.txt
  tests/requirements_pytest_free-threaded.txt
  tests/test_jobs.py
  tests/test_reporters.py
  tox.ini
  webchanges/__init__.py
  webchanges/command.py
  webchanges/filters/_shell.py
  webchanges/handler.py
  webchanges/jobs/_base.py
  webchanges/jobs/_browser.py
  webchanges/jobs/_url.py
Due: flynt, black, flake8, mypy, doc8

Version 3.35.0
  README.rst
  docs/hooks.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8
