Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, black, flake8, mypy, doc8

flynt:
  name: Convert % strings to f-strings (flynt)
  entry: flynt
  additional_dependencies:
  - flynt
  language: python
  require_serial: true
  args:
  - --fail-on-change

black:
  name: Uncompromising code formatting (black)
  entry: black
  additional_dependencies:
  - black
  language: python

flake8:
  name: Check for errors, style [and over-complexity], security (flake8, bandit)
  description: Code linter
  entry: flake8
  additional_dependencies:
  - flake8
  - flake8-bandit
  - flake8-quotes
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

mypy:
  name: Check Python static typing (mypy)
  entry: mypy
  additional_dependencies:
  - mypy
  - types-backports
  - types-docutils
  - types-PyYAML
  - types-redis
  - types-requests
  - types-simplejson
  language: python

doc8:
  name: Check for style in rst documentation (doc8)
  description: Documentation linter
  entry: doc8
  additional_dependencies:
  - doc8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
Due: none

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  tests/data/docs_filters_testdata.yaml
Due: none

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  requirements-free-threaded.txt
  webchanges/filters.py
Due: flynt, black, flake8, mypy, doc8

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  tests/data/docs_filters_testdata.yaml
  webchanges/filters.py
Due: flynt, black, flake8, mypy

Fix README link
  README.rst
Due: doc8

Version 3.27.0b1
  .pre-commit-config.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/differs.rst
  docs/hooks.rst
  tests/test_command.py
  tests/test_differs.py
  tests/test_handler.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  webchanges/__init__.py
  webchanges/_vendored/headers.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/util.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Version 3.27.0b2
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  README.rst
  docs/configuration.rst
  tests/data/config.yaml
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/handler.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Version 3.27.0b3
  CHANGELOG.rst
  docs/cli.rst
  docs/configuration.rst
  docs/differs.rst
  docs/filters.rst
  docs/jobs.rst
  pyproject.toml
  tests/data/config.yaml
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_jobs.py
  tests/test_reporters.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Version 3.27.0b3
  tests/test_command.py
Due: flynt, black, flake8, mypy

Version 3.27.0rc0
  CHANGELOG.rst
  docs/cli.rst
  docs/filters.rst
  docs/jobs.rst
  tests/test_command.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/config.py
Due: flynt, black, flake8, mypy, doc8

Version 3.27.0rc0
  tests/test_command.py
Due: flynt, black, flake8, mypy

Version 3.27.0
  .pre-commit-config.yaml
  CHANGELOG.rst
  pyproject.toml
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.27.0
  .github/workflows/ci-cd.yaml
  docs/configuration.rst
  docs/jobs.rst
Due: doc8

Version 3.28.0rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/advanced.rst
  docs/cli.rst
  docs/configuration.rst
  docs/dependencies.rst
  docs/diff_filters.rst
  docs/differs.rst
  docs/examples.rst
  docs/filters.rst
  docs/introduction.rst
  docs/jobs.rst
  docs/upgrading.rst
  pyproject.toml
  requirements.txt
  tests/data/config.yaml
  tests/data/jobs.yaml
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_jobs.py
  tox.ini
  webchanges/__init__.py
  webchanges/command.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Version 3.28.1
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

3.28.2rc0
  .github/workflows/ci-cd.yaml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  docs/differs.rst
  docs/filters.rst
  docs/jobs.rst
  tests/data/docs_filters_testdata.yaml
  tests/requirements_pytest.txt
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_filters.py
  tests/test_reporters.py
  webchanges/__init__.py
  webchanges/__main__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

Version 3.28.2
  CHANGELOG.rst
  docs/differs.rst
  docs/filters.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.29.0rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/differs.rst
  webchanges/__init__.py
  webchanges/differs.py
Due: flynt, black, flake8, mypy, doc8

Version 3.29.0rc1
  CHANGELOG.rst
  docs/advanced.rst
  webchanges/__init__.py
  webchanges/differs.py
Due: flynt, black, flake8, mypy, doc8

Version 3.29.0rc2
  CHANGELOG.rst
  RELEASE.rst
  docs/advanced.rst
  docs/differs.rst
  docs/jobs.rst
  tests/test_differs.py
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/reporters.py
Due: flynt, black, flake8, mypy, doc8

Version 3.29.0rc2
  tests/test_differs.py
Due: flynt, black, flake8, mypy

Version 3.29.0
  CHANGELOG.rst
  docs/differs.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.30.0rc0
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  docs/differs.rst
  docs/filters.rst
  docs/hooks.rst
  tests/requirements_pre-commit.txt
  tests/test_differs.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8

Version 3.30.0.rc1
  CHANGELOG.rst
  docs/differs.rst
  tests/requirements_pre-commit.txt
  tests/test_command.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/config.py
  webchanges/filters.py
Due: flynt, black, flake8, mypy, doc8

Version 3.30.0
  CHANGELOG.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.0rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/cli.rst
  docs/conf.py
  docs/differs.rst
  docs/examples.rst
  docs/jobs.rst
  docs/make_html.bat
  pyproject.toml
  tests/data/hooks_example.py
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_handler.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  tests/test_util.py
  tox.ini
  webchanges/__init__.py
  webchanges/_vendored/headers.py
  webchanges/_vendored/packaging_version.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/util.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.0rc0
  webchanges/reporters.py
Due: flynt, black, flake8, mypy

Version 3.31.0rc0
  docs/conf.py
  tests/test_docs_filters.py
  tests/test_handler.py
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

Version 3.31.0rc0
  tests/data/docs_filters_testdata.yaml
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  webchanges/filters.py
Due: flynt, black, flake8, mypy

Version 3.31.0rc1
  CHANGELOG.rst
  RELEASE.rst
  docs/cli.rst
  docs/conf.py
  docs/differs.rst
  docs/jobs.rst
  requirements.txt
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_hooks.py
  tests/test_storage.py
  tox.ini
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/storage.py
  webchanges/util.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.0rc1
  CHANGELOG.rst
  RELEASE.rst
  tests/test_command.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.0rc1
  tests/test_command.py
Due: flynt, black, flake8, mypy

Version 3.31.0
  CHANGELOG.rst
  webchanges/__init__.py
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.1rc0
  tests/requirements_pytest.txt
Due: none

Version 3.31.1rc0
  docs/hooks.rst
  pyproject.toml
  tests/test_docs_hooks.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.1rc0
  webchanges/mailer.py
Due: flynt, black, flake8, mypy

Version 3.31.1rc0
  docs/reporters.rst
Due: doc8

Path conditions:
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$
