Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flynt, black, flake8, mypy, doc8

Path conditions:
  bandit: any of: \.py$
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$

Version 3.19rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/_api/webchanges._vendored.rst
  docs/_api/webchanges.rst
  docs/advanced.rst
  docs/filters.rst
  docs/jobs.rst
  docs/reporters.rst
  tests/test_filters.py
  tests/test_jobs.py
  tox.ini
  webchanges/__init__.py
  webchanges/filters.py
  webchanges/jobs.py
  webchanges/reporters.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.19rc0
  tests/test_filters.py
Due: bandit, flynt, black, flake8, mypy

Version 3.19
  CHANGELOG.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Set date in sent emails
  webchanges/mailer.py
Due: bandit, flynt, black, flake8, mypy

Version 3.19.1
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.rst
  docs/dependencies.rst
  docs/filters.rst
  pyproject.toml
  webchanges/__init__.py
  webchanges/command.py
  webchanges/mailer.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.19.1
  RELEASE.rst
Due: doc8

Version 3.20rc0
  CHANGELOG.rst
  LICENSE
  README.rst
  RELEASE.rst
  docs/cli_help.txt
  docs/filters.rst
  docs/reporters.rst
  docs/upgrading.rst
  tests/data/docs_filters_testdata.yaml
  tests/data/filters_testdata.yaml
  tests/test___init__.py
  tests/test_command.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_handler_generate_diff.py
  tests/test_reporters.py
  tests/test_storage.py
  tests/test_util.py
  webchanges/__init__.py
  webchanges/_vendored/case_insensitive_dict.py
  webchanges/command.py
  webchanges/filters.py
  webchanges/mailer.py
  webchanges/reporters.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.20
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.20.1
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
  webchanges/mailer.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.20.2
  CHANGELOG.rst
  RELEASE.rst
  tox.ini
  webchanges/__init__.py
  webchanges/mailer.py
Due: bandit, flynt, black, flake8, mypy, doc8

v3.21rc0
  CHANGELOG.rst
  docs/diff_filters.rst
  docs/differs.rst
  tests/requirements_pytest.txt
  tests/test_command.py
  webchanges/command.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.21rc0
  tests/requirements_pytest.txt
  tests/test_command.py
  tests/test_differs.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  tests/requirements_pytest.txt
  tests/test_command.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  tests/test_command.py
  tests/test_differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  tests/test_differs.py
  tests/test_filters.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  tests/test_differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  tests/test_differs.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  docs/dependencies.rst
  docs/differs.rst
  pyproject.toml
  tests/requirements_pytest.txt
  tests/test_jobs.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.21rc0
  tests/requirements_pytest.txt
Due: none

Version 3.21rc0
  docs/differs.rst
  tests/test_differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.21rc0
  .github/workflows/ci-cd.yaml
  tox.ini
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy

Version 3.21rc0
  .github/workflows/ci-cd.yaml
  README.rst
  docs/cli_help.txt
  docs/differs.rst
  docs/filters.rst
  docs/make_html.bat
  pyproject.toml
  tests/data/docs_filters_testdata.yaml
  tests/test_differs.py
  tests/test_docs_filters.py
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/filters.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.21rc0
  .github/workflows/ci-cd.yaml
  README.rst
  tests/data/docs_filters_testdata.yaml
Due: doc8

Version 3.21rc0
  docs/advanced.rst
  docs/differs.rst
  docs/jobs.rst
  docs/reporters.rst
  tests/data/jobs-is_shell_job.yaml
  webchanges/differs.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.21
  CHANGELOG.rst
  RELEASE.rst
  tests/test_differs.py
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.22rc0
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/_static/css/webchanges.css
  docs/cli.rst
  docs/cli_help.txt
  docs/differ_ai_google_example.png
  docs/differs.rst
  docs/hooks.rst
  tests/data/docs_hooks_jobs.yaml
  tests/data/hooks_example.py
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_handler.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.22rc0
  .github/workflows/ci-cd.yaml
  tests/test_storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.22rc0
  tests/test_differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.22rc0
  tests/test_storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.22
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/hooks.rst
  tests/test_storage.py
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.23.0rc0
  .pre-commit-config.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/configuration.rst
  docs/differs.rst
  tests/test_differs.py
  tox.ini
  webchanges/__init__.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/mailer.py
  webchanges/reporters.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.23.0
  CHANGELOG.rst
  RELEASE.rst
  docs/differs.rst
  tests/test_differs.py
  webchanges/__init__.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.23.1
  .pre-commit-config.yaml
  docs/differs.rst
  webchanges/config.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.23.1rc0
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/differs.rst
  tests/test_jobs.py
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8
