Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flynt, black, flake8, mypy, doc8

bandit:
  name: Find common security issues in Python code (bandit)
  entry: bandit
  language: python
  args:
  - --ini
  - .bandit
  - --recursive

flynt:
  name: Convert % strings to f-strings (flynt)
  entry: flynt
  language: python
  require_serial: true
  args:
  - --fail-on-change

black:
  name: Uncompromising code formatting (black)
  entry: black
  language: python

flake8:
  name: Check for errors, style, [and over-complexity] (flake8)
  description: Code linter
  entry: flake8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

mypy:
  name: Static Typing for Python (mypy)
  entry: mypy
  language: python
  pass_filenames: false
  args:
  - -p
  - webchanges

doc8:
  name: Check for style in rst documentation (doc8)
  description: Documentation linter
  entry: doc8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

Release 3.9.2rc0
  CHANGELOG.rst
  tests/jobs_test.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Release 3.9.2rc1
  .bumpversion.cfg
  CHANGELOG.rst
  RELEASE.rst
  docs/_api/exceptions.rst
  docs/_api/webchanges.jobs.rst
  docs/advanced.rst
  docs/configuration.rst
  docs/jobs.rst
  docs/reporters.rst
  tests/data/config.yaml
  tests/jobs_test.py
  tests/storage_test.py
  webchanges/__init__.py
  webchanges/reporters.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Release 3.9.2
  .bumpversion.cfg
  CHANGELOG.rst
  tests/command_test.py
  tests/storage_test.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Release 3.9.2
  webchanges/command.py
Due: bandit, flynt, black, flake8, mypy

Release 3.10rc0
  tests/data/hooks_test.py
Due: bandit, flynt, black, flake8, mypy

Release 3.10rc0
  docs/hooks.rst
Due: doc8

Release 3.10rc0 (CI upgrades)
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  README.rst
  docs/filters.rst
  docs/introduction.rst
  docs/migration.rst
  docs/yaml_syntax.rst
Due: doc8

Release 3.10rc0 (CI upgrades)
  .github/workflows/ci-cd.yaml
Due: none

Release 3.10rc0 (CI upgrades)
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  docs/migration.rst
Due: doc8

Release 3.10rc0 (CI upgrades)
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
Due: doc8

Release 3.10rc0 (Windows tests hang)
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  docs/migration.rst
Due: doc8

Release 3.10
  .bumpversion.cfg
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.1
  .bumpversion.cfg
  CHANGELOG.rst
  RELEASE.rst
  docs/reports.rst
  webchanges/__init__.py
  webchanges/filters.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2rc0
  .bumpversion.cfg
  CHANGELOG.rst
  LICENSE
  README.rst
  RELEASE.rst
  docs/cli.rst
  docs/examples.rst
  docs/filters.rst
  docs/hooks.rst
  docs/jobs.rst
  docs/reports.rst
  requirements.txt
  setup.py
  tests/data/docs_filters_testdata.yaml
  tests/data/jobs-use_browser.yaml
  tests/filters_test.py
  tests/jobs_test.py
  tests/reporters_test.py
  tests/storage_test.py
  webchanges/__init__.py
  webchanges/_vendored/packaging_version.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/py.typed
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/util.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2rc1
  .bumpversion.cfg
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  docs/filters.rst
  docs/introduction.rst
  webchanges/__init__.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2rc2
  .bumpversion.cfg
  CHANGELOG.rst
  webchanges/__init__.py
  webchanges/filters.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2rc3
  .bumpversion.cfg
  .deploy.bat
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.rst
  RELEASE.rst
  docs/examples.rst
  docs/jobs.rst
  webchanges/__init__.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/storage.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2rc4
  .bumpversion.cfg
  CHANGELOG.rst
  tests/filters_test.py
  webchanges/__init__.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/storage.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2rc5
  .bumpversion.cfg
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  webchanges/__init__.py
  webchanges/command.py
  webchanges/handler.py
  webchanges/storage.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.2
  .bumpversion.cfg
  CHANGELOG.rst
  webchanges/__init__.py
  webchanges/config.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/mailer.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.3rc0
  .bumpversion.cfg
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  docs/cli.rst
  docs/jobs.rst
  tests/command_test.py
  tests/docs_hooks_test.py
  tests/filters_test.py
  tests/handler_test.py
  tests/jobs_test.py
  tests/storage_test.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.3rc0
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  webchanges/filters.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.3rc1
  .bumpversion.cfg
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
  webchanges/filters.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.10.3
  CHANGELOG.rst
  docs/cli.rst
  webchanges/__init__.py
  webchanges/config.py
Due: bandit, flynt, black, flake8, mypy, doc8

Write value of argument "--config" to attribute "config_file"
  webchanges/config.py
Due: bandit, flynt, black, flake8, mypy

Version 3.11rc0
  .bumpversion.cfg
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  .readthedocs.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/advanced.rst
  docs/cli.rst
  docs/conf.py
  docs/configuration.rst
  docs/dependencies.rst
  docs/examples.rst
  docs/filters.rst
  docs/hooks.rst
  docs/jobs.rst
  docs/migration.rst
  docs/reporters.rst
  docs/reports.rst
  docs/under_the_hood.rst
  tests/command_test.py
  tests/data/config.yaml
  tests/data/docs_filters_testdata.yaml
  tests/jobs_test.py
  tests/storage_test.py
  tox.ini
  webchanges.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/util.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.11rc0
  CHANGELOG.rst
  RELEASE.rst
  tests/docs_filters_test.py
  tests/docs_hooks_test.py
Due: bandit, flynt, black, flake8, mypy, doc8

Path conditions:
  bandit: any of: \.py$
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$
