Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flynt, black, flake8, mypy, doc8

Path conditions:
  bandit: any of: \.py$
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$

Version 3.11rc0
  webchanges/storage.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy

Version 3.11rc0
  tests/data/docs_filters_testdata.yaml
  tests/docs_filters_test.py
  tests/jobs_test.py
Due: bandit, flynt, black, flake8, mypy

Version 3.11rc0
  tests/jobs_test.py
Due: bandit, flynt, black, flake8, mypy

Version 3.11rc0
  docs/requirements.txt
  tests/jobs_test.py
Due: bandit, flynt, black, flake8, mypy

Version 3.11rc0
  docs/requirements.txt
Due: none

Version 3.11rc0
  .github/workflows/ci-cd.yaml
  docs/jobs.rst
  tests/jobs_test.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.11rc0
  tests/jobs_test.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.11
  .bumpversion.cfg
  .deploy.bat
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.12rc1
  .bumpversion.cfg
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  .readthedocs.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/hooks.rst
  mypy.ini
  tests/jobs_test.py
  tox.ini
  webchanges/__init__.py
  webchanges/_vendored/packaging_version.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/filters.py
  webchanges/jobs.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.12rc2
  .bumpversion.cfg
  .flake8
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  CHANGELOG.rst
  WISHLIST.md
  docs/hooks.rst
  docs/index.rst
  docs/introduction.rst
  docs/reporters.rst
  docs/upgrading.rst
  tests/command_test.py
  tests/docs_hooks_test.py
  tests/filters_test.py
  tests/handler_test.py
  tests/jobs_test.py
  tests/reporters_test.py
  webchanges/__init__.py
  webchanges/_vendored/packaging_version.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/mailer.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.12
  .bumpversion.cfg
  CHANGELOG.rst
  RELEASE.rst
  docs/hooks.rst
  docs/upgrading.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

build: Exclude tests from being recognized as package
  setup.py
Due: bandit, flynt, black, flake8, mypy

Version 3.13rc0
  .github/workflows/ci-cd.yaml
  webchanges/command.py
Due: bandit, flynt, black, flake8, mypy

Version 3.13rc0
  .github/workflows/ci-cd.yaml
Due: none

Version 3.13rc0
  tests/data/docs_filters_testdata.yaml
Due: none

Version 3.13rc1 on Python 3.12
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  docs/advanced.rst
  docs/cli.rst
  docs/conf.py
  docs/configuration.rst
  docs/inheritance_ascii_tree.py
  docs/reporters.rst
  docs/reports.rst
  docs/upgrading.rst
  setup.py
  tests/test_command.py
  tests/test_docs_filters.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  webchanges/__init__.py
  webchanges/_vendored/packaging_version.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.13rc1 on Python 3.12
  .github/workflows/ci-cd.yaml
Due: none

Version 3.13rc1 on Python 3.12
  .github/workflows/ci-cd.yaml
  README.rst
  docs/examples.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.13rc1
  .github/workflows/ci-cd.yaml
Due: none

Version 3.13rc1
  CHANGELOG.rst
  RELEASE.rst
  webchanges/_vendored/packaging_version.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.13rc1
  docs/conf.py
  docs/inheritance_ascii_tree.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.13rc1
  docs/introduction.rst
  tests/test_storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.13rc1
  tests/test_storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.13rc2
  CHANGELOG.rst
  RELEASE.rst
  docs/cli.rst
  tests/test_reporters.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/config.py
  webchanges/reporters.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.13
  CHANGELOG.rst
  RELEASE.rst
  docs/upgrading.rst
  webchanges/__init__.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.14
  CHANGELOG.rst
  RELEASE.rst
  docs/cli.rst
  docs/jobs.rst
  webchanges/__init__.py
  webchanges/handler.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.14.post0
  .bandit
  .coveragerc
  .github/workflows/ci-cd.yaml
  .isort.cfg
  .pre-commit-config.yaml
  .rstcheck.cfg
  CHANGELOG.rst
  MANIFEST.in
  README.rst
  RELEASE.rst
  docs/cli.rst
  docs/cli_help.txt
  mypy.ini
  pyproject.toml
  setup.py
  tests/test_command.py
  tox.ini
  webchanges.py
  webchanges/__init__.py
  webchanges/config.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.14.post0
  .github/workflows/ci-cd.yaml
Due: none
