Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, black, flake8, mypy, doc8

flynt:
  name: Convert % strings to f-strings (flynt)
  entry: flynt
  additional_dependencies:
  - flynt
  language: python
  require_serial: true
  args:
  - --fail-on-change

black:
  name: Uncompromising code formatting (black)
  entry: black
  additional_dependencies:
  - black
  language: python

flake8:
  name: Check for errors, style [and over-complexity], security (flake8, bandit)
  description: Code linter
  entry: flake8
  additional_dependencies:
  - flake8
  - flake8-bandit
  - flake8-quotes
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

mypy:
  name: Check Python static typing (mypy)
  entry: mypy
  additional_dependencies:
  - mypy
  - types-backports
  - types-docutils
  - types-PyYAML
  - types-redis
  - types-requests
  - types-simplejson
  language: python

doc8:
  name: Check for style in rst documentation (doc8)
  description: Documentation linter
  entry: doc8
  additional_dependencies:
  - doc8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

Version 3.32.0rc0
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Relax pytest version
  pyproject.toml
Due: none

GitHub Actions runner update
  .github/workflows/ci-cd.yaml
Due: none

GitHub Action runner update
  .github/workflows/ci-cd.yaml
Due: none

GitHub Action runner update
  .github/workflows/ci-cd.yaml
  requirements_free-threaded.txt
  tests/requirements_pytest_free-threaded.txt
  tests/test_filters.py
Due: flynt, black, flake8, mypy

GitHub Action runner update
  tests/requirements_pytest_free-threaded.txt
Due: none

GitHub Action runner update
  .github/workflows/ci-cd.yaml
  tests/requirements_pytest.txt
  tests/requirements_pytest_free-threaded.txt
Due: none

GitHub Action runner update
  .github/workflows/ci-cd.yaml
  pyproject.toml
Due: none

GitHub Action runner update
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

GitHub Action runner update
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  pyproject.toml
Due: doc8

Fix Windows ci
  .github/workflows/ci-cd.yaml
  tests/test_command.py
  tests/test_differs.py
  tests/test_handler.py
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

Fix Poppler Windows install
  .github/workflows/ci-cd.yaml
Due: none

ci fixes
  tests/test_filters.py
Due: flynt, black, flake8, mypy

ci fixes
  .github/workflows/ci-cd.yaml
Due: none

ci fixes
  .github/workflows/ci-cd.yaml
  tests/test_filters.py
Due: flynt, black, flake8, mypy

ci fixes
  .github/workflows/ci-cd.yaml
  tests/test_filters.py
  tests/test_jobs.py
  webchanges/jobs.py
Due: flynt, black, flake8, mypy

ci fixes
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  tests/test_filters.py
Due: flynt, black, flake8, mypy, doc8

Terst fixes
  tests/test_command.py
  tests/test_differs.py
  tests/test_filters.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  webchanges/cli.py
Due: flynt, black, flake8, mypy

ci fixes
  CHANGELOG.rst
  RELEASE.rst
  docs/reporters.rst
  tests/test_reporters.py
Due: flynt, black, flake8, mypy, doc8

Version 3.32.0
  .github/workflows/.gemini-dispatch.yml
  .github/workflows/.gemini-invoke.yml
  .github/workflows/.gemini-review.yml
  .github/workflows/.gemini-scheduled-triage.yml
  .github/workflows/.gemini-triage.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  .gitignore
  CHANGELOG.rst
  RELEASE.rst
  docs/reporters.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Improved logging for the ``evaluate`` directive in URL Jobs with ``browser: true``
  CHANGELOG.rst
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8

--dump-history for any job, even if not in --jobs file
  CHANGELOG.rst
  webchanges/command.py
  webchanges/jobs.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

Path conditions:
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$
