Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, black, flake8, mypy, doc8

flynt:
  name: Convert % strings to f-strings (flynt)
  entry: flynt
  additional_dependencies:
  - flynt
  language: python
  require_serial: true
  args:
  - --fail-on-change

black:
  name: Uncompromising code formatting (black)
  entry: black
  additional_dependencies:
  - black
  language: python

flake8:
  name: Check for errors, style [and over-complexity], security (flake8, bandit)
  description: Code linter
  entry: flake8
  additional_dependencies:
  - flake8
  - flake8-bandit
  - flake8-quotes
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

mypy:
  name: Check Python static typing (mypy)
  entry: mypy
  additional_dependencies:
  - mypy
  - types-backports
  - types-docutils
  - types-PyYAML
  - types-redis
  - types-requests
  - types-simplejson
  language: python

doc8:
  name: Check for style in rst documentation (doc8)
  description: Documentation linter
  entry: doc8
  additional_dependencies:
  - doc8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

Version 3.35.0
  CHANGELOG.rst
  RELEASE.rst
  docs/hooks.rst
  tests/test_docs_hooks.py
Due: flynt, black, flake8, mypy, doc8

Version 3.36.0rc0
  tests/test_cli.py
Due: flynt, black, flake8, mypy

Version 3.36.7rc0
  tests/test_cli.py
Due: flynt, black, flake8, mypy

Version 3.36.0
  CHANGELOG.rst
  RELEASE.rst
  WISHLIST.md
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.36.0
  pyproject.toml
Due: none

Version 3.36.0
  MANIFEST.in
  pyproject.toml
Due: none

Version 3.36.1rc0
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  CHANGELOG.rst
  RELEASE.md
  RELEASE.rst
  docs/configuration.rst
  docs/dependencies.rst
  docs/differs.rst
  docs/examples.rst
  docs/filters.rst
  docs/jobs.rst
  docs/reporters.rst
  docs/upgrading.rst
  pyproject.toml
  tools/get_manpages_parser.py
  tools/rst_release_to_md.py
  tools/test_packaging_version.py
  tools/test_rst_release_to_md.py
  tools/update_schema_hashes.py
  tox.ini
  webchanges/__init__.py
  webchanges/_vendored/packaging_version.py
  webchanges/_vendored/typeguard.py
  webchanges/filters/_document.py
  webchanges/jobs/_url.py
  webchanges/storage/_config.py
  webchanges/storage/_yaml.py
Due: flynt, black, flake8, mypy, doc8

Version 3.36.1rc1
  CHANGELOG.rst
  docs/dependencies.rst
  pyproject.toml
  tests/test_cli.py
  tests/test_command.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/main.py
Due: flynt, black, flake8, mypy, doc8

Version 3.36.1
  CHANGELOG.rst
  RELEASE.md
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.37.0rc1
  tests/test_jobs.py
  webchanges/__init__.py
  webchanges/jobs/_shell.py
Due: flynt, black, flake8, mypy

Version 3.37.0rc2
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  RELEASE.md
  RELEASE.rst
  docs/_static/webchanges-vs-urlwatch.html
  docs/configuration.rst
  docs/jobs.rst
  tests/test_handler.py
  tests/test_jobs.py
  webchanges/__init__.py
  webchanges/_resources/.jobs.schema.sha256
  webchanges/_resources/jobs.schema.json
  webchanges/handler.py
  webchanges/jobs/_url.py
Due: flynt, black, flake8, mypy, doc8

Version 3.37.0rc3
  CHANGELOG.rst
  RELEASE.md
  RELEASE.rst
  tests/test_vendored.py
  webchanges/__init__.py
  webchanges/_vendored/typeguard.py
Due: flynt, black, flake8, mypy, doc8

Version 3.37.0
  CHANGELOG.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Version 3.38.0rc0
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/scorecard.yml
  CHANGELOG.rst
  README.rst
  RELEASE.md
  RELEASE.rst
  docs/_static/webchanges-vs-urlwatch.html
  docs/advanced.rst
  docs/configuration.rst
  docs/jobs.rst
  docs/yaml_syntax.rst
  tests/test_jobs.py
  tests/test_storage.py
  tox.ini
  webchanges/__init__.py
  webchanges/_resources/.jobs.schema.sha256
  webchanges/_resources/jobs.schema.json
  webchanges/jobs/_base.py
  webchanges/jobs/_browser.py
  webchanges/jobs/_url.py
  webchanges/storage/_base.py
  webchanges/storage/_yaml.py
Due: flynt, black, flake8, mypy, doc8

Version 3.38.0rc1
  CHANGELOG.rst
  RELEASE.md
  RELEASE.rst
  docs/_static/webchanges-vs-urlwatch.html
  docs/configuration.rst
  docs/filters.rst
  docs/hooks.rst
  docs/jobs.rst
  tests/data/docs_filters_testdata.yaml
  tests/data/hooks_example.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_handler.py
  tests/test_jobs.py
  tools/test_packaging_version.py
  webchanges/__init__.py
  webchanges/_resources/.jobs.schema.sha256
  webchanges/_resources/jobs.schema.json
  webchanges/_vendored/packaging_version.py
  webchanges/filters/_base.py
  webchanges/handler.py
  webchanges/jobs/__init__.py
  webchanges/jobs/_base.py
  webchanges/jobs/_browser.py
  webchanges/jobs/_exceptions.py
  webchanges/jobs/_shell.py
  webchanges/jobs/_url.py
  webchanges/storage/_base.py
  webchanges/storage/_ssdb.py
  webchanges/storage/_yaml.py
Due: flynt, black, flake8, mypy, doc8

Path conditions:
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$
