Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: flynt, black, flake8, mypy, doc8

Path conditions:
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$

Version 3.31.1rc1
  .github/workflows/ci-cd.yaml
  .readthedocs.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/cli_help.txt
  docs/reporters.rst
  docs/requirements.txt
  requirements-free-threaded.txt
  tests/requirements_pre-commit.txt
  tests/requirements_pytest.txt
  tests/test_differs.py
  tests/test_docs_hooks.py
  tests/test_reporters.py
  tox.ini
  webchanges/__init__.py
  webchanges/cli_help.txt
  webchanges/differs.py
  webchanges/filters.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.1rc2
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  CHANGELOG.rst
  CONTRIBUTING.rst
  README.rst
  RELEASE.rst
  docs/differs.rst
  docs/jobs.rst
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_jobs.py
  tests/test_storage.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/util.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.1
  CHANGELOG.rst
  RELEASE.rst
  docs/reporters.rst
  docs/upgrading.rst
  webchanges/__init__.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy, doc8

Version 3.31.1.post1
  tests/test_command.py
Due: flynt, black, flake8, mypy

Version 3.31.1.post2
  tests/data/config.yaml
Due: none

Removed workaround for Python 3.9 (unsupported)
  webchanges/storage.py
Due: flynt, black, flake8, mypy

Fix emailer utf-8 #110
  webchanges/reporters.py
Due: flynt, black, flake8, mypy

Version 3.31.2
  .gitignore
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

chore: non-unique elements in pyproject.toml's classifiers
  pyproject.toml
Due: none

fix: yaml Exception in processing job Exception
  webchanges/jobs.py
Due: flynt, black, flake8, mypy

Minor fixes to README
  README.rst
Due: doc8

Updated run-gemini-cli to fix
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
Due: none

Fix pre-commit.ci pr checks failing
  .pre-commit-config.yaml
Due: none

Version 3.31.2rc0
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Make deployment resilient to coverall 500 Server Error: Internal Server Error
  .github/workflows/ci-cd.yaml
Due: none

Update pyproject.toml due to changes in pre-commit
  pyproject.toml
Due: none

Remove obsolete settings and lint
  pyproject.toml
Due: none

Implemented multiple ruff linters and improved code
  .pre-commit-config.yaml
  docs/conf.py
  docs/filters.rst
  docs/inheritance_ascii_tree.py
  pyproject.toml
  tests/data/hooks_example.py
  tests/test___init__.py
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_handler.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  tests/test_util.py
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/mailer.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/util.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Minor edits
  pyproject.toml
Due: none

Changed differ's report_kinds 'text' to 'plain' for clarity and alignment with IANA's media type nomenclature
  CHANGELOG.rst
  tests/test_differs.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/reporters.py
Due: flynt, black, flake8, mypy, doc8

Prepare for 3.14
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  pyproject.toml
  requirements.txt
Due: doc8

Implement OSSF scorecard and recommendations for improved security
  .github/dependabot.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  LICENSE.md
  README.rst
  SECURITY.md
  docs/license.rst
  docs/upgrading.rst
  pyproject.toml
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/mailer.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/util.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

v3.31.3rc0
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Enable Actions on unreleased
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

v3.31.3rc0
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

v3.31.4rc0
  CHANGELOG.rst
  RELEASE.rst
  tests/test_jobs.py
  tests/test_storage.py
  webchanges/__init__.py
  webchanges/command.py
Due: flynt, black, flake8, mypy, doc8

v3.31.4rc0
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  tests/test_storage.py
  webchanges/storage.py
Due: flynt, black, flake8, mypy

v3.31.4rc0
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

Chrome test timeout update
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

fixed requirements_pytest.txt
  tests/requirements_pytest.txt
Due: none

Fixed wait_for_navigation in Chrome test
  tests/test_jobs.py
Due: flynt, black, flake8, mypy

v3.31.4
  CHANGELOG.rst
  RELEASE.rst
  docs/hooks.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Remove Python 3.10; other code cleanup
  .github/workflows/cflite_pr.yml
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  docs/inheritance_ascii_tree.py
  docs/reporters.rst
  pyproject.toml
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_jobs.py
  tests/test_reporters.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/storage.py
  webchanges/util.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Refined wording explaining conditional requests #120
  docs/jobs.rst
  docs/under_the_hood.rst
Due: doc8

Refactor error handling and fix #104
  tests/test_jobs.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy

Version 3.32.0.dev0
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: flynt, black, flake8, mypy, doc8

Removed Gemini Github Actions workflows (trial)
  .github/workflows/.gemini-dispatch.yml
  .github/workflows/.gemini-invoke.yml
  .github/workflows/.gemini-review.yml
  .github/workflows/.gemini-scheduled-triage.yml
  .github/workflows/.gemini-triage.yml
  CHANGELOG.rst
Due: doc8

Updated Github Actions workflow source versions
  .github/workflows/ci-cd.yaml
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

Implement TransientHTTPError Exception to capture transient errors
  CHANGELOG.rst
  pyproject.toml
  tests/requirements_pytest.txt
  tests/test_jobs.py
  tests/test_storage.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/worker.py
Due: flynt, black, flake8, mypy, doc8

Add http_credential directive for browser: true URL jobs
  docs/jobs.rst
  webchanges/jobs.py
Due: flynt, black, flake8, mypy, doc8
