Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flynt, black, flake8, mypy, doc8

Path conditions:
  bandit: any of: \.py$
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$

Version 3.24.0rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/_static/css/webchanges.css
  docs/differs.rst
  docs/filters.rst
  docs/jobs.rst
  tests/data/docs_filters_testdata.yaml
  tests/test_differs.py
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.24.0rc0
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.24.0rc0
  tests/requirements_pre-commit.txt
  tests/requirements_pytest.txt
  webchanges/config.py
  webchanges/differs.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.24.0rc0
  tests/requirements_pytest.txt
  tests/test_differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.24.0rc0
  CHANGELOG.rst
  docs/differs.rst
  tests/test_differs.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.24.0
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.24.1rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/cli.rst
  docs/differs.rst
  tests/requirements_pytest.txt
  tests/test_command.py
  tests/test_differs.py
  webchanges/__init__.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.24.1rc0
  tests/requirements_pytest.txt
Due: none

Version 3.24.1
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy

Version 3.25.0rc0
  CHANGELOG.rst
  RELEASE.rst
  WISHLIST.md
  docs/advanced.rst
  docs/cli.rst
  docs/cli_help.txt
  docs/differs.rst
  docs/filters.rst
  docs/hooks.rst
  docs/introduction.rst
  docs/jobs.rst
  docs/reporters.rst
  tests/data/config.yaml
  tests/data/docs_filters_testdata.yaml
  tests/requirements_pytest.txt
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_filters.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  webchanges/__init__.py
  webchanges/_vendored/case_insensitive_dict.py
  webchanges/_vendored/headers.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/mailer.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/util.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.25.0rc0
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.25.0rc1
  CHANGELOG.rst
  CONTRIBUTING.rst
  RELEASE.rst
  docs/differs.rst
  docs/hooks.rst
  tests/test_differs.py
  tests/test_util.py
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.25.0
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.26.0rc0
  .github/workflows/ci-cd.yaml
Due: none

Version 3.26.0rc0
  .github/workflows/ci-cd.yaml
  tests/requirements_pytest.txt
  tests/test_command.py
  tests/test_differs.py
  tests/test_docs_hooks.py
  tests/test_filters.py
  tests/test_jobs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.26.0rc0
  CHANGELOG.rst
  tests/requirements_pytest.txt
Due: doc8

Version 3.26.0rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/differs.rst
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.26.0rc1
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  docs/differs.rst
  docs/make_html.bat
  tests/test_differs.py
  tox.ini
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.26.0rc2
  docs/differs.rst
  webchanges/__init__.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.26.0rc2
  .github/workflows/ci-cd.yaml
Due: none

Version 3.26.0
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/differs.rst
  webchanges/__init__.py
  webchanges/differs.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  LICENSE
  README.rst
  RELEASE.rst
  docs/differs.rst
  docs/filters.rst
  docs/reporters.rst
  pyproject.toml
  requirements.txt
  tests/data/docs_filters_testdata.yaml
  tests/requirements_pytest.txt
  tests/test_command.py
  tests/test_differs.py
  tests/test_jobs.py
  tests/test_reporters.py
  tests/test_storage.py
  tox.ini
  webchanges/__init__.py
  webchanges/differs.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/reporters.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  tests/requirements_pytest.txt
Due: none

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
Due: none

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  webchanges/handler.py
Due: bandit, flynt, black, flake8, mypy

Version 3.27.0rc0
  tests/data/docs_filters_testdata.yaml
  webchanges/handler.py
Due: bandit, flynt, black, flake8, mypy

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  tests/test_docs_filters.py
Due: bandit, flynt, black, flake8, mypy

Version 3.27.0rc0
  .github/workflows/ci-cd.yaml
  tests/data/docs_filters_testdata.yaml
  tests/test_docs_filters.py
Due: bandit, flynt, black, flake8, mypy
