Repository mborsetti/webchanges: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, flynt, black, flake8, mypy, doc8

bandit:
  name: Find common security issues in Python code (bandit)
  entry: bandit
  language: python
  args:
  - --ini
  - .bandit
  - --recursive

flynt:
  name: Convert % strings to f-strings (flynt)
  entry: flynt
  language: python
  require_serial: true
  args:
  - --fail-on-change

black:
  name: Uncompromising code formatting (black)
  entry: black
  language: python

flake8:
  name: Check for errors, style, [and over-complexity] (flake8)
  description: Code linter
  entry: flake8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

mypy:
  name: Static Typing for Python (mypy)
  entry: mypy
  language: python
  pass_filenames: false
  args:
  - -p
  - webchanges

doc8:
  name: Check for style in rst documentation (doc8)
  description: Documentation linter
  entry: doc8
  language: python
  require_serial: true
  args:
  - --max-line-length
  - '120'

Version 3.14.post0
  .github/workflows/ci-cd.yaml
Due: none

Version 3.14.post0
  .github/workflows/ci-cd.yaml
  pytest.ini
  tests/requirements_pytest.txt
  tox.ini
Due: none

Version 3.15rc0
  .github/workflows/ci-cd.yaml
  pyproject.toml
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.15rc0
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
  requirements.txt
  tests/requirements_pytest_312.txt
  tests/test_command.py
  tests/test_jobs.py
  tests/test_storage.py
  webchanges/command.py
  webchanges/config.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.15rc0
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
  tests/requirements_pytest_312.txt
Due: doc8

Version 3.15rc0
  .github/workflows/ci-cd.yaml
  CHANGELOG.rst
  RELEASE.rst
Due: doc8

Version 3.15rc0
  tests/requirements_pytest_312.txt
Due: none

Version 3.15rc1
  .github/workflows/ci-cd.yaml
  .pre-commit-config.yaml
  CHANGELOG.rst
  RELEASE.rst
  docs/jobs.rst
  tests/requirements_pytest.txt
  tests/test_handler.py
  tests/test_handler_generate_diff.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/jobs.py
  webchanges/storage.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.15rc1
  tests/requirements_pytest.txt
  tests/requirements_pytest_312.txt
  tests/test_jobs.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.15rc1
  .github/workflows/ci-cd.yaml
Due: none

Version 3.15rc1
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.15
  CHANGELOG.rst
  webchanges/__init__.py
  webchanges/_vendored/packaging_version.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.16rc0
  .github/workflows/ci-cd.yaml
Due: none

Version 3.16rc0
  .github/workflows/ci-cd.yaml
  tests/requirements_pytest.txt
Due: none

Version 3.16rc0
  tests/test_docs_filters.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16rc0
  webchanges/filters.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16rc0
  tests/test_jobs.py
  webchanges/jobs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16rc0
  tests/test_jobs.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16rc0
  webchanges/handler.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16rc0
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
  webchanges/command.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.16
  docs/conf.py
  tests/test_docs_hooks.py
  tests/test_filters.py
Due: bandit, flynt, black, flake8, mypy

Version 3.16
  tests/test_filters.py
Due: bandit, flynt, black, flake8, mypy

Version 3.17rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/cli.rst
  docs/cli_help.txt
  docs/filters.rst
  docs/reports.rst
  tests/data/config.yaml
  tests/data/docs_filters_testdata.yaml
  tests/data/jobs-invalid_url.yaml
  tests/test_command.py
  tests/test_reporters.py
  webchanges/command.py
  webchanges/config.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.17rc0
  CHANGELOG.rst
  RELEASE.rst
  docs/reporters.rst
Due: doc8

Version 3.17
  CHANGELOG.rst
  RELEASE.rst
  tests/test_filters.py
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.17.1
  CHANGELOG.rst
  RELEASE.rst
  tests/test_command.py
  webchanges/__init__.py
  webchanges/jobs.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.17.2
  CHANGELOG.rst
  RELEASE.rst
  webchanges/__init__.py
  webchanges/jobs.py
  webchanges/util.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.18rc0
  .pre-commit-config.yaml
  CHANGELOG.rst
  README.rst
  RELEASE.rst
  docs/advanced.rst
  docs/cli.rst
  docs/configuration.rst
  docs/dependencies.rst
  docs/diff_filters.rst
  docs/examples.rst
  docs/filters.rst
  docs/jobs.rst
  docs/reporters.rst
  docs/yaml_syntax.rst
  pyproject.toml
  tests/data/config.yaml
  tests/data/docs_filters_testdata.yaml
  tests/data/jobs-disabled.yaml
  tests/requirements_pre-commit.txt
  tests/test_command.py
  tests/test_docs_filters.py
  tests/test_handler.py
  tests/test_jobs.py
  tox.ini
  webchanges/__init__.py
  webchanges/cli.py
  webchanges/command.py
  webchanges/config.py
  webchanges/filters.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/main.py
  webchanges/reporters.py
  webchanges/storage.py
  webchanges/storage_minidb.py
  webchanges/util.py
  webchanges/worker.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.18
  CHANGELOG.rst
  webchanges/__init__.py
Due: bandit, flynt, black, flake8, mypy, doc8

Version 3.18.1
  CHANGELOG.rst
  RELEASE.rst
  docs/configuration.rst
  tests/data/config.yaml
  tests/test_jobs.py
  webchanges/__init__.py
  webchanges/command.py
  webchanges/handler.py
  webchanges/jobs.py
  webchanges/reporters.py
  webchanges/storage.py
Due: bandit, flynt, black, flake8, mypy, doc8

Path conditions:
  bandit: any of: \.py$
  flynt: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  doc8: any of: \.rst$
